<form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
	<mat-form-field appearance="outline">
		<mat-label>Estado de uso</mat-label>
		<input formControlName="state" matInput />
	</mat-form-field>

	<div>
		<mat-form-field appearance="outline">
			<mat-label>Preço Original</mat-label>
			<span matTextPrefix>R$&nbsp;</span>
			<input
				formControlName="originalPrice"
				matInput
				type="number"
				min="0"
			/>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Tamanho</mat-label>
			<mat-select formControlName="size">
				<mat-option *ngFor="let size of sizes" [value]="size">
					<span>{{ size }}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div>
		<mat-form-field appearance="outline">
			<mat-label>Cor</mat-label>
			<input formControlName="color" matInput />
		</mat-form-field>

		<mat-slide-toggle formControlName="print" labelPosition="before">
			<span class="toggle-text">Estampado</span>
		</mat-slide-toggle>
	</div>

	<div>
		<mat-form-field appearance="outline">
			<mat-label>Tipo de camisa</mat-label>
			<input formControlName="model" matInput />
		</mat-form-field>
	
		<mat-form-field appearance="outline">
			<mat-label>Tecido</mat-label>
			<input formControlName="cloth" matInput />
		</mat-form-field>
	</div>

	<button mat-raised-button color="primary" type="submit">
		Cadastrar
	</button>
</form>