<mat-card>
	<mat-card-title>
		<p>Adicione uma foto da sua roupa!</p>
	</mat-card-title>
	<mat-card-content>
		<div *ngIf="file" class="image-preview">
			<img [src]="(imageSRC$)" />
		</div>
		<mat-form-field>
			<mat-label>Adicione uma imagem</mat-label>
			<button mat-icon-button matPrefix #fileButton (click)="fileInput.click()">
				<mat-icon fontIcon="folder" />
			</button>
			<input type="text" readonly matInput [value]="displayName" (focus)="fileButton.focus()"/>
			<input type="file" accept="image/*" hidden #fileInput (change)="handleFileInputChange($event)" />
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="primary" [disabled]="!displayCondition" (click)="handleSubmit()">
			Enviar
		</button>
	</mat-card-actions>	
</mat-card>
